     {{!-- * Setup the `index.handlebars` to have the template that Handlebars can render onto. --}}
<form>
     <div class='form-group'>
          <label for='addBurger'><h2>Add Burger!</h2></label>
          <input type='text' class='form-control' id='burgerName' placeholder="Burger Name">
     </div>
     <button id='addburger' type='submit' class='btn'> Add Burger </button>
</form>
